
li a{
  font-style: normal;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  border: 3px solid White;
}

a:hover{
  background-color: green;
  color: #FFFFFF;
}


li.active a{
  background-color: #FFFFFF;
  font-weight: bold;
  color: #745F4C;
}

body{
  background-color: #745F4C;
  font-family: Roboto;
  font-size: 18px;
  color: #FFFFFF;
}

p{
  font-weight: light;
}

figcaption{
  text-align: center;
}
