header{
  background-color: #4b6b8a;
}

header > ul > li > a{
  font-style: normal;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-size: 24px;
  
  border: 3px solid #dbd8cf;
  color: #dbd8cf;
  background-color: #2f2f2f;
}

a:hover{
  background-color: #dbd8cf;
  color: #2f2f2f;
}

a:visited{
  color: #dbd8cf;
}

li.active a{
  background-color: #dbd8cf;
  font-weight: bold;
  color: #2f2f2f;
}

body{
  background-color: #2f2f2f;
  font-family: Roboto;
  font-size: 18px;
  color: #dbd8cf;
}

p{
  font-weight: light;
}

figcaption{
  text-align: center;
}
